.container{
    display: flex;
    justify-content: center;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 12px;
    list-style-type: none;
}


/* Desktop Media Query */
/*3 Column Grid Layout*/
   @media (min-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  }

/*Tablet Media Query*/
/*2 Column Grid Layout*/
@media (min-width: 768px) and (max-width: 1199px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    /*Monkey Image*/
    .card:nth-child(9) {
        grid-column: span 2;
        width: 100%;
    }
}